body {
    margin: 0;
    /* padding: 0; */
    font-family: Arial, Helvetica, sans-serif;
    
    /* height: 100%; */
    /* Evita barras de scroll */
    /* overflow: hidden;  */
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2; /*Lo mandamos hacia atrás bajando el z-index*/

    width: 100%;
    height: 100%;
    /* padding: 0px; */
    background-color: #0a1844;
}
.background-video {
    /* que ocupe todo su contenedor */
    width: 100%;
    height: 100%;
    /* https://developer.mozilla.org/es/docs/Web/CSS/Reference/Properties/object-fit */
    object-fit: cover;
    opacity: .8;
    /* Opcional: Oscurece un poco el video */
    /* filter: brightness(0.6);  */
}

.textos {
    /* Asegura que el contenido esté encima del video */
    /* position: relative;
    z-index: 1;  */

    color: white;
    text-align: center;
    padding-top: 20vh; /* Espacio desde arriba */
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

p {
    font-size: 1.1em;
    color: #aaa;
}
